@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e0e0e;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* track */
::-webkit-scrollbar-track {
  background: #374151;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #e30915;
  border-radius: 10px;
}

/* handle no hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* ................ */
.number {
  text-shadow: -2px 0 #9c9c9c, 0 2px #9c9c9c, 2px 0 #9c9c9c, 0 -2px #9c9c9c;
  color: black;
}
